n8n/gempa-alert.json
{
  "nodes": [
    {
      "parameters": {
        "url": "https://data.bmkg.go.id/DataMKG/TEWS/autogempa.json",
        "responseFormat": "json",
        "options": {}
      },
      "id": "HTTP_Request_BMKG",
      "name": "Get Gempa from BMKG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [300, 200]
    },
    {
      "parameters": {
        "functionCode": "const g = items[0].json.Infogempa;\n\nreturn [\n  {\n    json: {\n      pesan: `📢 *Info Gempa Terbaru*\n📅 ${g.Tanggal} ${g.Jam}\n📍 ${g.Wilayah}\n💥 Magnitudo: ${g.Magnitude}\n📏 Kedalaman: ${g.Kedalaman}\n🌊 ${g.Potensi}`\n    }\n  }\n];"
      },
      "id": "Format_Gempa",
      "name": "Format Info Gempa",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [600, 200]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/send",
        "method": "POST",
        "responseFormat": "json",
        "options": {},
        "bodyParametersJson": "={\n  \"number\": \"6285260245100\",\n  \"message\": \"{{$json.pesan}}\"\n}"
      },
      "id": "Send_WhatsApp",
      "name": "Send to WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [900, 200]
    }
  ],
  "connections": {
    "Get Gempa from BMKG": {
      "main": [
        [
          {
            "node": "Format Info Gempa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Info Gempa": {
      "main": [
        [
          {
            "node": "Send to WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "name": "Gempa Alert WhatsApp",
  "trigger": [],
  "version": 1
}
